In [1]:
import pandas as pd
import numpy as np
import statistics as stat

terror = pd.read_csv("terror.csv",encoding='latin')
terror

In [3]:
# Q.1)	How many attacks happened in India?
terror[terror.country_txt == 'India'].attacktype1.count()

9940

In [4]:
# Q.2)	How many attacks happened in India and upto 3 people were killed? 
terror[terror.country_txt == 'India'][terror.nkill <= 3].count().iyear

E:\anaconda\lib\site-packages\ipykernel_launcher.py:2: UserWarning: Boolean Series key will be reindexed to match DataFrame index.

8362

In [5]:
#3 Extract the city and summary for attacks above
terror.groupby('city')['attacktype1_txt'].describe()

#a = store.groupby('Segment').Profit.max() 
#b = store.Profit
#store[["Customer Name","Segment","Profit"]][np.in1d(b,a)]

,count,unique,top,freq
city,,,,
15 September Dam,1,1,Armed Assault,1
190 Kilometers South of Raugoon,1,1,Bombing/Explosion,1
5th of November Hydroelectric Dam,19,3,Bombing/Explosion,12
60 miles West of Guatemala City,3,1,Bombing/Explosion,3
62 miles South of Dushanbe,1,1,Bombing/Explosion,1
70 kilometers East of San Salvador,1,1,Armed Assault,1
85 miles NW of Phnom Penh,1,1,Bombing/Explosion,1
A'arbaniyeh,1,1,Bombing/Explosion,1
ANkara,1,1,Armed Assault,1
Aab Kamra,1,1,Armed Assault,1
Aab Kumri district,1,1,Armed Assault,1
Aabde,1,1,Bombing/Explosion,1
Aabdeh,1,1,Bombing/Explosion,1
Aabgarmak,1,1,Bombing/Explosion,1
Aachen,4,3,Facility/Infrastructure Attack,2
Aadaisse,1,1,Bombing/Explosion,1
Aadloun,1,1,Assassination,1
Aadsheet al-Qaseer,1,1,Bombing/Explosion,1
Aaichiye,3,2,Armed Assault,2
Aaitit,1,1,Bombing/Explosion,1
Aaitraroun,1,1,Unarmed Assault,1
Aakherobh,1,1,Bombing/Explosion,1
Aalen,1,1,Facility/Infrastructure Attack,1
Aalmane,2,1,Bombing/Explosion,2
Aalos,1,1,Unknown,1
Aaloucha,1,1,Bombing/Explosion,1
Aalst,1,1,Armed Assault,1
Aammiq,5,2,Bombing/Explosion,4
Aankro,1,1,Armed Assault,1
Aarau,1,1,Facility/Infrastructure Attack,1
...,...,...,...,...
tamara,1,1,Assassination,1
tambon Prachan,1,1,Bombing/Explosion,1
tame,1,1,Assassination,1
tbilisi,3,1,Armed Assault,3
tehran,5,3,Bombing/Explosion,3
tokyo,8,2,Armed Assault,7
turbat,1,1,Bombing/Explosion,1
umbumbulu,1,1,Assassination,1
unk,1,1,Bombing/Explosion,1
unknown,48,5,Bombing/Explosion,29
unknown site near Thai border,1,1,Bombing/Explosion,1
uraba,1,1,Assassination,1
uramita,1,1,Assassination,1
uri,1,1,Bombing/Explosion,1
uuk,1,1,Bombing/Explosion,1
valencia,1,1,Assassination,1
valledupar,1,1,Assassination,1
valparaiso,2,1,Bombing/Explosion,2
verbana,1,1,Assassination,1
vilcashuaman,2,1,Assassination,2
villavicencio,2,1,Assassination,2
vinchos,1,1,Assassination,1
wakunai,1,1,Armed Assault,1
western Cambodia,10,1,Unknown,10
western El Salvador,1,1,Hostage Taking (Kidnapping),1
yacan,1,1,Assassination,1
yangon (rangoon),1,1,Bombing/Explosion,1
yokohama,1,1,Facility/Infrastructure Attack,1
zinarag,1,1,Armed Assault,1
dár nad Sázavou,1,1,Unarmed Assault,1

In [9]:
#Q.4)	In a single terror incident in India, find out top 5 cities by number killed
terror.query("(country_txt=='India')")[["eventid","country_txt","city","nkill"]].sort_values(by='nkill',ascending=False).head(5)

            eventid country_txt                city  nkill
81000  200607120001       India              Mumbai  188.0
96598  201005280005       India             Jhargam  115.0
54339  199212080019       India              Bombay  115.0
95860  201004060005       India  Dantewada district   82.0
56837  199407240008       India            Banabari   70.0

In [11]:
#Q.5)	In a single terror incident in India, find out top 5 cities by number Afghanistan
terror[terror.country_txt=='India'].sort_values(by='nwound',ascending=False)[['city','nkill','nwound']].head(5)

            city  nkill  nwound
81000     Mumbai  188.0   817.0
89128     Dispur   37.0   235.0
30378    Chennai   32.0   200.0
79045  New Delhi   55.0   155.0
75769     Mumbai   52.0   150.0

In [12]:
#6.How many attacks were successful that were suicide attacks?

terror[(terror.weapsubtype1_txt=='Suicide (carried bodily by human being)') & (terror.success==1)].success.count()

1930

In [13]:
#Q.7) label all the incidents where the number killed was more than 5 as severe. 
terror['severity']=['severe' if i>5 else 'not severe'  for i in terror.nkill]

terror['severity']

0         not severe
1         not severe
2         not severe
3         not severe
4         not severe
5         not severe
6         not severe
7         not severe
8         not severe
9         not severe
10        not severe
11        not severe
12        not severe
13        not severe
14        not severe
15        not severe
16        not severe
17        not severe
18        not severe
19        not severe
20        not severe
21        not severe
22        not severe
23        not severe
24        not severe
25        not severe
26        not severe
27        not severe
28        not severe
29        not severe
             ...
156742    not severe
156743    not severe
156744    not severe
156745    not severe
156746    not severe
156747    not severe
156748    not severe
156749    not severe
156750    not severe
156751    not severe
156752    not severe
156753    not severe
156754    not severe
156755    not severe
156756    not severe
156757    not severe
156758    not severe
156759    not severe
156760    not severe
156761    not severe
156762        severe
156763    not severe
156764    not severe
156765    not severe
156766    not severe
156767    not severe
156768    not severe
156769    not severe
156770    not severe
156771    not severe
Name: severity, Length: 156772, dtype: object

In [ ]:
#8 write a function to label an incident that was both successful and suicidal

def incidentcheck(x):
    j=["Success" if (x.iloc[i].suicide==1 and x.iloc[i].success==1) else "Failure" for i in list(range(0,len(x)))]
    return j

incidentcheck(terror)

In [ ]:
#Q.9)	Create a new category representing if the incident occured in Afghanistan, Pakistan or India as one level of the 
#category and all the other countries as another level

terror['levels']=['Asia' if (terror.iloc[i].country_txt=='Afghanistan' or terror.iloc[i].country_txt=='Pakistan' or 
                             terror.iloc[i].country_txt=='India') else 'Row' for i in list(range(0,len(terror.country_txt))) ]
    
terror['levels'].head()

In [ ]:
#Q.10)	How many incidents happened in Afghanisthan-Pakistan-India vs ROW?
terror.query("(country_txt=='Afghanistan' or country_txt=='India' or country_txt=='Pakistan')").count().iyear

In [ ]:
# Q.11)	List the number of suicides attacks and average kills by Af-Pak-India vs ROW. Rename columns in the output as 
#Average_Kills and Number_Incidents.
terror.query("(country_txt=='India' or country_txt=='Afghanistan' or country_txt=='Pakistan')").sum().suicide